@import 'reset';

$main:#FF3D00;
$second:#0085FF;
$black: #202020;
$stroke: #E3E3E3;
$placeholder:#808080;
$back:#F7F7F7;

%btn  {
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
}
@mixin activeBtn($color){
    background-color: $color;
    color: $color;
}